<section id="page-title" class="page-title-dark">
    <div class="container clearfix">
        <h1>Book Rental Car</h1>
        <span>Make a booking with us</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Rental Booking</li>
        </ol>
    </div>
</section>
<section id="content" data-animate="fadeInUp">
<div class="content-wrap">
    <div class="container clearfix">
    <h4>Create Booking</h4>
    <form name="bookingForm" ng-submit="rentalCtrl.addBooking()" novalidate>
        <md-input-container class=" col-md-6">
            <label>Pickup location</label>
            <!-- <input ng-model="rentalCtrl.booking.pickUpLocation" name="pickUpLocation" required min="10"> -->
            <md-select ng-model="rentalCtrl.booking.pickUpLocation" name="pickUpLocation" required >
                <md-option ng-repeat="locationDetail in rentalCtrl.locationDetails | orderBy: 'locationDetail'" value="{{locationDetail.lId}}">{{locationDetail.locationDetail}}</md-option>
            </md-select>
            <div ng-messages="bookingForm.pickUpLocation.$error" multiple md-auto-hide="false">
                <div ng-message="required">Please select the pickup location.</div>                    
            </div>
        </md-input-container>
        <md-input-container class="md-block col-md-3">
            <label>Pickup Date/Time</label>
            <input mdc-datetime-picker date="true" time="true" type="text" format="MMMM Do YYYY, h:mm a"
                   min-date="minDate" max-date="dateTimeEnd" ng-model="dateTimeStart"/>
        </md-input-container>
        <md-input-container class="md-block col-md-3">
            <label>Drop-off Date/Time</label>
            <input mdc-datetime-picker date="true" time="true" type="text" format="MMMM Do YYYY, h:mm a"
                   min-date="dateTimeStart" ng-model="dateTimeEnd" />
        </md-input-container>

        <div class="clearfix"></div>
        <md-input-container class="md-block col-md-5">
            <md-switch class="md-primary" aria-label="Driver aged between 30 – 65 ?" ng-model="qqqqqqqqqqqquestionallmodels">
                Driver aged between 30 – 65 ?
            </md-switch>
        </md-input-container>
        <md-input-container class="md-block col-md-7">
            <button class="button button-reveal button-large tright" type="submit"><i class="fa fa-bolt"></i><span>Check Availability</span></button>
        </md-input-container>    
    </form>
    </div>
</div>
</section>