<section id="page-title" class="page-title-dark">
    <div class="container clearfix">
        <h1>Book Rental Car</h1>
        <span>Make a booking with us</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#/booking">Booking</a></li>
            <li class="active">Select Car</li>
        </ol>
    </div>
</section>
<section id="content" data-animate="fadeInUp">
<div class="content-wrap">
    <div class="container clearfix">
    <h4>Select Rental Car</h4>
        

        <md-input-container class="md-block col-md-7">
            <button class="button button-reveal button-large tright" ng-click="rentalCtrl.selectCar(1)"><i class="fa fa-car"></i><span>Book this Car</span></button>
        </md-input-container>    

    </div>
</div>
</section>