<section id="page-title" class="page-title-dark">
    <div class="container clearfix">
        <h1>User Profile</h1>
        <span>View / Update Profile</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </div>
</section>
<section id="content" data-animate="fadeInUp">
<div class="content-wrap">
    <div class="container clearfix">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="">View Profile</a></li>
                <li role="presentation" class=""><a href="">Update Profile</a></li>
                <li role="presentation" class=""><a href="">Bookings</a></li>
                <li role="presentation" class=""><a href="">Manage Subscription</a></li>
                <li role="presentation" class=""><a href="#/user/logout" >Logout</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            -{{ }}-
        </div>
    </div>
</div>
</section>