<footer id="footer" class="dark" style="background-color: #222;">
    <div class="container">
    <div class="footer-widgets-wrap clearfix">
        <div class="col_one_third">
            <div class="widget clear-bottommargin-sm clearfix">
                <div class="row">
                    <div class="col-md-12 bottommargin-sm">
                        <div class="footer-big-contacts">
                            <span>Call Us:</span>
                            00-64-123-4567
                        </div>
                    </div>
                    <div class="col-md-12 bottommargin-sm">
                        <div class="footer-big-contacts">
                            <span>Send an Enquiry:</span>
                            info@vrgroup.co.nz
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget subscribe-widget clearfix">
                <h5>Get Latest <strong>Offers</strong> &amp; <strong>Coupons</strong> by Email:</h5>
                <div id="widget-subscribe-form-result" data-notify-type="success" data-notify-msg=""></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" novalidate="novalidate">
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email" aria-required="true">
                        <span class="input-group-btn">
                            <button class="btn bgcolor" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col_one_third">
            <div class="widget clearfix">
                <h4>Featured Services</h4>
                <div id="post-list-footer">
                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="#">Rental Cars</a> <small><strong>$XX</strong> onwards</small></h4>
                            </div>
                            <ul class="entry-meta">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="#">Airport Pickup / Dropoff <small><strong>$XX</strong> onwards</small></a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="spost clearfix">
                        <div class="entry-c">
                            <div class="entry-title">
                                <h4><a href="http://vrhotels.co.nz" target="_blank">Hotel Booking <small><strong>$XX</strong> onwards</small></a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_one_third col_last">
            <div class="widget widget_links clearfix">
                <h4>Popular Destinations</h4>
                <div class="row clearfix">
                    <div class="col-xs-6">
                        <ul>
                            <li><a href="#">Auckland</a></li>
                            <li><a href="fa-2x #">Queenstown</a></li>
                            <li><a href="#">Rotorua</a></li>
                            <li><a href="#">Hamilton</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li><a href="#">Christchurch</a></li>
                            <li><a href="#">Wellington</a></li>
                            <li><a href="#">Kaikoura</a></li>
                            <li><a href="#">Napier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div><!-- .footer-widgets-wrap end -->
    </div>
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                Copyrights © 2017 All Rights Reserved by VR Group<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>
            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                </div>
                <div class="clear"></div>
                <i class="icon-envelope2"></i> info@vrgroup.co.nz <span class="middot">·</span> <i class="icon-headphones"></i> 00-64-123-4567
            </div>
        </div>
    </div>
</footer>