<header id="header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="index.php" class="standard-logo" data-dark-logo="img/logo-dark.png"><img src="assets/images/logo.png" alt="Canvas Logo"></a>
                <!-- <a href="index.php" class="retina-logo" data-dark-logo="img/logo-dark@2x.png"><img src="img/logo@2x.png" alt="Canvas Logo"></a> -->
            </div>
            <nav id="primary-menu" class="sub-title">
                <ul>
                    <li><a href="index.php"><div>Home</div><span>Lets Start</span></a> </li>
                    <li><a href="rental-car.php"><div>Bookings</div><span>Find options</span></a>
                        <ul>
                            <li><a href="rental-car.php"><div><i class="fa fa-car"></i> Rental Car</div></a></li>
                            <li><a href="transfers.php"><div><i class="fa fa-bus"></i> Transfer Services</div></a></li>
                            <li><a href="fixedTransfers.php"><div><i class="fa fa-cab"></i> Fixed Transfer</div></a></li>
                            <li><a href="activity.php"><div><i class="fa fa-map"></i> Activity Booking</div></a></li>
                        </ul>
                    </li>
                    <li><a href="vehicles.php?id=1"><div>Our Vehicles</div><span>What you will get</span></a>
                        <ul>
                            <li><a href="vehicles.php?id=1"><div>Rental Vehicles</div></a></li>
                            <li><a href="vehicles.php?id=2"><div>Transfer Vehicles</div></a></li>
                        </ul>
                    </li>
                    <li><a href="about.php"><div>About</div><span>Few word</span></a> </li>
                    <li><a href="contact.php"><div>Contact</div><span>Need help</span></a> </li>
                    <li><a href="login.php"><div>Login</div><span>Register</span></a> </li>
                </ul>
            </nav>
        </div>
    </div>
</header>