<section id="page-title" class="page-title-dark">
    <div class="container clearfix">
        <h1>Book Activity</h1>
        <span>Make a booking with us</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Select Activity</li>
        </ol>
    </div>
</section>
<section id="content" data-animate="fadeInUp">
<div class="content-wrap">
    <div class="container clearfix">
        <h4>Select Activities</h4> 
        {{ activityCtrl.activities }}
        {{ activityCtrl.cities }}
        <div ng-repeat="ac in activityCtrl.activities">
            
            ={{ ac }}=

        </div>
    </div>
</div>
</section>