<section id="page-title" class="page-title-dark">
    <div class="container clearfix">
        <h1>Book Activity</h1>
        <span>Make a booking with us</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Select Activity</li>
        </ol>
    </div>
</section>
<section id="content" data-animate="fadeInUp">
<div class="content-wrap">
    <div class="container clearfix">
        <h4>Select Cities</h4> 
        <div ng-repeat="city in activityCtrl.cities">
            <md-checkbox ng-model="activityCtrl.selectedCity[city.cId]" class="md-primary col-md-4" value="{{ city.cId }}" name="c[]" aria-label="{{ city.cityName }}">
                {{ city.cityName }}
            </md-checkbox>
        </div>
        <div class="clearfix"></div>
        <md-input-container class="md-block col-md-12">
            <button class="button button-reveal button-large tright" ng-click="activityCtrl.addCityIds(activityCtrl.selectedCity)"><i class="fa fa-bolt"></i><span>Continue</span></button>
        </md-input-container>    
    </div>
    {{ activityCtrl.activities }}
</div>
</section>